* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
}
.cabecalho {
  position: fixed;
  box-sizing: border-box;
  background-color: black;
  color: whitesmoke;
  padding: 0 10%;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.cabecalho .titulo_cabecalho {
  font-size: 1.5em;
  margin: auto 0;
}
.cabecalho .titulo_cabecalho h1 {
  font-weight: 200;
}
.cabecalho .titulo_cabecalho span {
  font-weight: 800;
}
.cabecalho .nav_tabs {
  height: 100%;
  width: 50%;
}
.cabecalho .nav_tabs ul {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  justify-content: center;
}
.cabecalho .nav_tabs ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabecalho .nav_tabs ul li button {
  box-sizing: border-box;
  min-width: 220px;
  height: 100%;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: normal;
  transition: all 0.5s;
}
.cabecalho .nav_tabs ul li button:hover {
  letter-spacing: 12px;
  cursor: pointer;
  background-color: white;
  color: whitesmoke;
  background-color: rgba(255,255,255,0.1);
}
.divmenu {
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: black;
}
.divmenu > h2{
  color: white;
  font-weight:500;
  font-size: 30px;
  margin: 0 0 20px 0;
}
.categoria {
  width: 100%;
  height: 80px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.categoria li {
  text-align: center;
  width: inherit;
  height: 100%;
}
.categoria li input{
  display:none;
}
.categoria li label{
  color: white;
  letter-spacing: normal;
  font-size: 1.4em;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: black;
  cursor: pointer;
  transition: all 0.5s;
}
.categoria li:first-child label{
  border-radius: 10px 0 0 10px;
}
.categoria li:last-child label{
  border-radius: 0 10px 10px 0;
}
.categoria li label:hover{
  letter-spacing: 10px;
  background-color: rgba(0,0,0,0.9);
}
.categoria li input:checked + label{
  letter-spacing: 10px;
}
.suspenso{
  appearance: none;
  border: 2px solid black;
  border-radius: 50px;
  width: 80%;
  height:50px;
  font-size: 26px;
  display: block;
  margin: auto;
  text-align-last:center;
}
.suspenso:focus{
  outline: none;
}
.conteudo {
  padding-top: 120px;
  padding-bottom: 70px;
  width: 80%;
  height: 100%;
  margin: auto;
  overflow: auto;
}
#conteudo_sobre p{
    line-height: 24px;
    margin: 20px auto;
}
#conteudo_sobre .textos{
    margin-top: 40px;
}
.fonte {
  text-align: center;
  text-decoration: none;
}
.fonte a {
  color: black;
  font-weight: bold;
}
#conteudo_busca, #conteudo_sobre {
  margin: auto;
  text-align: justify;
}
#conteudo_resultado{
  text-align: center;
}
#conteudo_resultado h3{
  margin-top: 20px;
  font-size: 3em;
  font-weight: 100;
}
.agradecimento p{
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}
.agradecimento p:first-child{
  margin-top: 30px;
}
.agradecimento p:last-child{
  margin-top: 50px;
}
.inspiracao{
  font-weight:bold;
}
.rodape {
  bottom: 0;
  box-sizing: border-box;
  padding: 0 10%;
  width: 100%;
  height: 50px;
  color: gainsboro;
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rodape a {
  color: inherit;
  text-decoration:none;
  font-size:22px;
}

.rodape span {
  font-weight: 800;
}