* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
}
.cabecalho {
  position: fixed;
  box-sizing: border-box;
  background-color: black;
  color: whitesmoke;
  padding: 0 10%;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.cabecalho .titulo_cabecalho {
  margin: auto 0;
}
.cabecalho .titulo_cabecalho h1 {
  font-weight: 300;
}
.cabecalho .titulo_cabecalho span {
  font-weight: 800;
}
.cabecalho .nav_tabs {
  height: 100%;
  width: 50%;
}
.cabecalho .nav_tabs ul {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  list-style: none;
}
.cabecalho .nav_tabs ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cabecalho .nav_tabs ul li button {
  box-sizing: border-box;
<<<<<<< HEAD
  min-width: 220px;
  height: 100%;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  text-decoration: none;
=======
  width: 200px;
  background-color: dimgray;
  color: whitesmoke;
  border: 2px solid black;
  border-bottom: 2px solid dimgray;
  border-radius: 10px 10px 0 0;
>>>>>>> c85033ab0a336ebc00cede10ea738cbb73cf809d
  padding: 10px 20px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 12px;
  transition: all 1s;
}
.cabecalho .nav_tabs ul li button:hover {
<<<<<<< HEAD
  letter-spacing: normal;
=======
  font-weight: 800;
  border: 2px solid dimgray;
>>>>>>> c85033ab0a336ebc00cede10ea738cbb73cf809d
  cursor: pointer;
  background-color: white;
  color: whitesmoke;
  background-color: rgba(255,255,255,0.1);
}
.conteudo {
  padding-top: 100px;
}
.conteudo p{
    line-height: 30px;
}
.conteudo h1{
  background-color:dimgray;
    text-align: justify;
    color:white;
    font-weight: 300;
    padding: 20px 10%;
    margin-bottom: 20px;
}
.conteudo_principal {
  width:80%;
  margin:auto;
}

.conteudo {
  padding-top: 120px;
  width: 100%;
  height: 100%;
  overflow: auto;
}
p{
    line-height: 30px;
    margin: 50px;
}
.divmenu {
  margin-top: 40px;
}
#conteudo_busca {
  margin: auto;
}
.suspenso{
  appearance: none;
  font-size: inherit;
  width: 80%;
  height:40px;
  display: block;
  margin: auto;
}

#conteudo_sobre {
  margin: auto;
  text-align: justify;
}
.rodape {
  bottom: 0;
  box-sizing: border-box;
  padding: 0 10%;
  width: 100%;
  height: 50px;
  color: gainsboro;
  background-color: black;
  position: fixed;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}
.rodape a:visited {
  color: gainsboro;
  text-decoration: none;
}
.rodape a:link {
  color: gainsboro;
  text-decoration: none;
}
.rodape p {
<<<<<<< HEAD
  font-size:22px;
=======
    font-size:22px;
    font-weight: 100;
>>>>>>> c85033ab0a336ebc00cede10ea738cbb73cf809d
}

.rodape span {
  font-weight: 900;
}
