*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat';
}

.header{
    width: 100%;
    height: 100px;
    background: cornflowerblue;
}
.header .inner_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 2%;
    width: 80%;
    height: 100%;
    background: darkcyan;
}

.header .inner_header .title_container{
    background: tomato;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
    height: 100%;
}
.header .inner_header .title_container h1{
    font-weight: 300;
}
.header .inner_header .title_container span{
    font-weight: 800;
}
.header .inner_header .nav_tabs{
    text-decoration: none;
    background: chocolate;
    height: 100%;
    width: 50%;
}
.header .inner_header .nav_tabs ul{
    background: slategrey;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
.header .inner_header .nav_tabs ul li{
    background: slateblue;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    margin: 0 2%;
}
.header .inner_header .nav_tabs ul li:hover{
    cursor: pointer;
}